
<%- include('../_header') %>
    <!--Middle half of the page details after Navbar-->
    <div class="second-half" style="background-color:#d1edf2 ; border: 3px solid white;padding-top: 4rem;padding-bottom: 10rem;">
        <div class="container" style="padding-bottom: 3rem;padding-top: 2rem;">

            <% articles.forEach(article => {%>
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title" style="color: #030005;font-family: Times New Roman, Georgia, serif;font-weight: bold; font-size:40px;">
                            <%= article.title %>
                        </h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= article.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2" style="font-size:20px;">
                            <%= article.description %>
                        </div>
                        <a href="articles/<%= article.slug %>" class="btn btn-primary " style="background-color: #65cbe9; color: black;font-weight: bold;">Read More</a>

                        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger" style="background-color: #ff686b; color: black;font-weight: bold;"> Delete </button>
                        </form>
                    </div>
                </div>
                <%}) %>
        </div>
    </div>

<%- include('../_footer') %>