<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div class="container">

        <a href="/" class="btn btn-secondary my-4"> All Articles</a>

        <div class="card bg-light mb-3" style="max-width: 80rem;">
            <div class="card-header d-flex justify-content-between">
                    <div>User</div>
                    <div><%= article.createdAt.toLocaleDateString() %></div>
            </div>
            <div class="card-body">
                <h2 class="mb-1"><%= article.title %></h2>
                <p class="card-text"><%= article.description %></p>

                <a href="/articles/update/<%= article.id %>" class="btn btn-info"> Edit</a>
                <!-- <a id="reply" href="/articles/reply/<%= article.id %>" class="btn btn-info"> Reply</a> -->
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header"> Leave a Comment:</h5>
            <div class="card-body">
                <!-- <form method="POST" action="/post-comment" onsubmit="return postComment(this);">-->
                    <form action="/articles/replied/<%= article.id %>?_method=PUT" method="post">
                        <input type="hidden" name="article_id" value="<%= article._id %>"/>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="username" /> 
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="comment" placeholder="message here ..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        
        <% if (article.comments.length<1) { %>
            <h2>No Comments</h2>
        <% } else {%>
            <h2>Comments</h2>        
        <% } %>
        <% article.comments.forEach(article => {%>
            
            <div class="card bg-light mb-3" style="max-width: 80rem;">
                <div class="card-header d-flex justify-content-between">
                        <div><%= article.postedBy %></div>
                        <div><%= article.postedDate.toLocaleString() %></div>
                </div>
                <div class="card-body">
                    <p class="card-text text-left"><%= article.comment %></p>
                </div>
            </div>
        <%}) %>
    </div>
</body>
</html>